@media only screen and (min-device-width : 2561px) and (max-device-width : 3840px) {
  .crete{
    font-size: 80px ;
  }
}
@media only screen and (min-device-width : 1921px) and (max-device-width : 2560px) {
  .crete{
    font-size: 70px ;
  }
}

@media only screen and (min-device-width : 1701px) and (max-device-width : 1920px) {
  .img_1 img{
    left: 70rem; 
  }
  .join_team{
    left: 25rem;
  }
  .midle_size{
    height: 260px;
  }
  .mb-30_li{
    margin-bottom: 30px;
  }
  .footerforms{
    left: 33rem;
  }
}


@media only screen and (max-width: 425px) {
    .cd-logo img {
      width: 130px;
    }
    .crete{
      font-size: 50px ;
    }
    .video_page{
      width: 100%;
      padding-top: 50px;
    }
    .cd-timeline-content .cd-read-more{
      font-size: 8px;
      padding: 3px 17px;
    }
    h1{
      font-size: 2rem !important;
    }
    .add-to-cart{
      font-size: 12px;
      padding: 9px 42px;
      margin-left: 85px;
  }
    .book-see{
      font-size: 12px;
      padding: 4px;
    }
    .add-to-cart .default:before, .add-to-cart .default:after{
      height: 10px;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item{
      padding-left: 34px;
    }
    .cd-primary-nav .cd-nav-icons .cd-nav-item h3{
      padding-left: 50px;
    }
    .mbl_img{
      width: 55%;
    }
    .facts-box-1{
      width: 65%;
      margin: 0px;
    }
    .txt_size_mbl_team{
      font-size: 22px;
    }
    .container  .mrgin_tp_size{
      margin-top: 14px;
      width: 475px;
    }
    .join_team{
      left: 120px;
    }
    .uk-margin-medium-bottom{
      margin-top: 30px;
    }
  
    
    .like-name{
      white-space: normal;
    }
    .card-content{
      padding: 6px;
    }
    .txt_size_mbl_team{
      line-height: 25px;
    }
    .clr_white{
      color: white;
    }
    .book-cell{
      height: 280px;
    }
   
    .book-cell:nth-child(1) , .book-cell:nth-child(2), .book-cell:nth-child(3){
      height: 368px;
    }
    .flickity-viewport{
      height: 330px !important;
    }
    .book-img{
      margin-top: 16px;
    }
    .book-content{
      margin-top: 70px;
    }
    .book-title{
      overflow: visible;
      white-space: normal;
      font-size: 15px;
    }
  
    .book-slide{
      margin-top: 0px;
      display: none;
    }
    .main-menu{
      display: none;
    }


    .mbl_drp_dwn {
      white-space: nowrap;
      
     
      position: sticky;
      top: 0;
      right: 0;
      background-color: var(--page-bg-color);
      z-index: 2;
      display: block !important;
    }
.jornlll{
  
    padding: 15px 25px;
}
    
    .mbl_drp_dwn:hover, .mbl_drp_dwn:focus {
      background-color: var(--page-bg-color);
    }
    
    .mbl_drp_dwn {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 100%;
      text-align: center;
      overflow: auto;
      left: 0px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: var(--body-color);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;
    }
    .footerforms{
      left: 45px;
      width: 340px;
    }
    .mbl_icons_size{
      margin-top: 3px;
    }
    .book-photo{
      width: 90px;
    }

    .news-letter input{
      width: 94%;
    }

    .book-see{
      width: 100px;
    }
    .main-wrapper{
      margin-top: 20px;
    }
    .dropdown2{
      display: block !important;
    }
  
    .content-wrapper{
      flex-direction: column !important;
    }
 

















  
  }
@media only screen and (max-width: 375px) {
    .cd-logo img {
      width: 130px;
    }
    .crete{
      font-size: 50px ;
    }
    .video_page{
      width: 100%;
      padding-top: 50px;
    }
    .add-to-cart{
      font-size: 10px;
      margin-left: 65px;
    }
    .add-to-cart {
      font-size: 12px;
      border-radius: 24px;
      padding: 7px 39px;
      margin-top: 40px;
  }
  .footerforms {
    left: 44px;
    width: 302px;
}
.book-see {
  width: 100px;
  margin-top: 66px;
}

.card-sum{
  overflow: hidden;
}


  }

  @media only screen and (max-width: 320px) {
    .add-to-cart{
      font-size: 12px;
    }
    .add-to-cart .default:before, .add-to-cart .default:after{
      content: "";
    width: 2px;
    height: 8px;
    left: 0;
    top: 6px;
    border-radius: 1px;
    background: var(--icon);
    position: absolute;
    transform: rotate(var(--r, 0deg));
    transition: transform 0.25s;
    }
    .add-to-cart .default{
      padding-left: 18px;
    }
    .add-to-cart{
      font-size: 10px;
      border-radius: 20px;
      padding: 7px 38px;
      margin-top: 28px;
      margin-left: 30px;
    }
    .footerforms {
      left: 15px;
      width: 280px;
  }
  
  .book-sum{
    font-size: 11px;
  }
  .book-card-img{
    margin-top: 0px;
    
  }
  .dropbtn2, .dropdown-content2{
    width: 81% !important;
  }
  
  }